[
	{
		"group": "Sycamore",
		"priority": 1,
		"bins": [
			{
				"name": "Sycamore 1",
				"capacity": 5,
				"adjacent": ["Sycamore 2", "Sycamore 3", "Sycamore 4", "Sycamore Lower"]
			},
			{
				"name": "Sycamore 2",
				"capacity": 6,
				"adjacent": ["Sycamore 1", "Sycamore 3", "Sycamore 4", "Sycamore Lower"]
			},
			{
				"name": "Sycamore 3",
				"capacity": 6,
				"adjacent": ["Sycamore 1", "Sycamore 2", "Sycamore 4", "Sycamore Lower"]
			},
			{
				"name": "Sycamore 4",
				"capacity": 5,
				"adjacent": ["Sycamore 1", "Sycamore 2", "Sycamore 3", "Sycamore Lower"]
			},
			{
				"name": "Sycamore Lower",
				"capacity": 4,
				"adjacent": ["Sycamore 1", "Sycamore 2", "Sycamore 3", "Sycamore 4"]
			}
		]
	},
	{
		"group": "Houses",
		"capacity": 10,
		"priority": 2,
		"bins": [
			{
				"name": "Maple",
				"adjacent": ["Hickory", "White Oak"]
			},
			{
				"name": "White Oak",
				"adjacent": ["Maple", "Beech"]
			},
			{
				"name": "Beech",
				"adjacent": ["White Oak", "Black Cherry"]
			},
			{
				"name": "Black Cherry",
				"adjacent": ["Beech", "White Pine"]
			},
			{
				"name": "White Pine",
				"adjacent": ["Black Cherry", "Hickory"]
			},
			{
				"name": "Hickory",
				"adjacent": ["White Pine", "Maple"]
			}
		]
	}
]