[
	{
		"name": "Group 1",
		"gender": "female",
		"count": 5
	},
	{
		"name": "Group 1",
		"gender": "male",
		"count": 6
	},
	{
		"name": "Group 2",
		"gender": "female",
		"count": 6
	},
	{
		"name": "Group 2",
		"gender": "male",
		"count": 5
	},
	{
		"name": "Group 3",
		"gender": "female",
		"count": 5
	},
	{
		"name": "Group 3",
		"gender": "male",
		"count": 7
	},
		{
		"name": "Group 4",
		"gender": "female",
		"count": 5
	},
	{
		"name": "Group 4",
		"gender": "male",
		"count": 6
	},
	{
		"name": "Group 5",
		"gender": "female",
		"count": 4
	},
	{
		"name": "Group 5",
		"gender": "male",
		"count": 5
	},
	{
		"name": "Group 6",
		"gender": "female",
		"count": 5
	},
	{
		"name": "Group 6",
		"gender": "male",
		"count": 4
	},
	{
		"name": "Group 7",
		"gender": "female",
		"count": 7
	},
	{
		"name": "Group 7",
		"gender": "male",
		"count": 5
	},
	{
		"name": "Group 8",
		"gender": "female",
		"count": 5
	},
	{
		"name": "Group 8",
		"gender": "male",
		"count": 6
	}
]